{% extends 'index.html' %}
{% block content %}
<body>
    <div class="container" style="width: 80%; margin: 0 auto;">
        <!-- Tech background elements -->
        <div class="tech-bg"></div>
        <div class="circuit-grid"></div>

        <!-- Circuit lines -->
        <div class="circuit-line circuit-line-1"></div>
        <div class="circuit-line circuit-line-2"></div>
        <div class="circuit-line circuit-line-3"></div>
        <div class="circuit-line circuit-line-4"></div>

        <div class="circuit-vertical circuit-vertical-1"></div>
        <div class="circuit-vertical circuit-vertical-2"></div>
        <div class="circuit-vertical circuit-vertical-3"></div>
        <div class="circuit-vertical circuit-vertical-4"></div>

        <!-- Digital particles -->
        <div class="particles">
            <div class="particle particle1"></div>
            <div class="particle particle2"></div>
            <div class="particle particle3"></div>
            <div class="particle particle4"></div>
            <div class="particle particle5"></div>
        </div>

        <div class="table-container">
            <h1>Project List</h1>
            <div class="scan-line"></div>
            <table class="table" style="color: aliceblue;">
                <thead>
                    <tr>
                        <th scope="col">Sr. Number</th>
                        <th scope="col">Title</th>
                        <th scope="col">Agenda</th>
                        <th scope="col">Teacher List</th>
                        <th scope="col">Meeting Timing</th>
                    </tr>
                </thead>
                <tbody style="color: aliceblue;">
                    {% for i in data %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ i.title }}</td>
                        <td>{{ i.agenda }}</td>
                        <td>
                            {% for teacher in i.member.all %}
                                {{ teacher.name }}{% if not forloop.last %}, {% endif %}
                            {% empty %}
                                No teachers
                            {% endfor %}
                        </td>
                        <td>{{ i.meeting_time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock content %}
